/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : May 8, 2018, 1:51:21 PM
    Author     : Hossein Roshan
*/

/* Ripple effect */
.fo-effect {
  background-position: center;
  transition: background 0.8s;
}
/*.fo-effect:hover {
  background: #47a7f5 radial-gradient(circle, transparent 1%, #47a7f5 1%) center/15000%;
}*/
.fo-effect:active {
  background-color: #6eb9f7;
  background-size: 100%;
  transition: background 0s;
}