/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : May 8, 2018, 1:36:35 PM
    Author     : DELL
*/

body , .rightHead a, .rightHead
{
    font-family: 'Yekan';
}


.fontStd

{
    font-size: 15px;
    font-family: 'Yekan';
    direction: rtl;
}

.top1px
{
    position: relative;
    top: 3px;
}
.centerHead img{
    width: 100px;
}

.colorSefroweb

{

    background-color:  #89B9CF !important;
}

.searchBox
{
    width: 120px;
    padding-right:  10px;
    border-radius: 10px;
}

.top4px
{
    top: 4px;
    position: relative;
    left: 4px;
}

.centerHead img

{
    text-align: center;
}

.fixfooter
{
    cursor: pointer;

}


body {
    padding-top: 1em;
}

.buttonFooter  p

{
    margin-bottom: 0px !important;
}

.nav {

    float: right;
    direction: rtl;
}

.f_left{
    float: left;
}

